## import pandas

In [2]:
import pandas as pd

## ds gv

In [8]:
data = {
    'Name': ['Nguyen Van A', 'Tran Thi B', 'Le Van C', 'Pham Thi D', 'Hoang Van E',
             'Do Thi F', 'Bui Van G', 'Nguyen Thi H', 'Le Van I', 'Tran Van J'],
    'Age': [22, 21, 23, 20, 22, 24, 23, 22, 21, 20],
    'Class': ['Python', 'JavaScript', 'Python', 'JavaScript', 'Python', 
              'JavaScript', 'Python', 'JavaScript', 'Python', 'JavaScript'],
    'Score': [85, 90, 78, 88, 95, 82, 91, 79, 86, 84]
}

df_gv = pd.DataFrame(data)
df_gv

           Name  Age       Class  Score
0  Nguyen Van A   22      Python     85
1    Tran Thi B   21  JavaScript     90
2      Le Van C   23      Python     78
3    Pham Thi D   20  JavaScript     88
4   Hoang Van E   22      Python     95
5      Do Thi F   24  JavaScript     82
6     Bui Van G   23      Python     91
7  Nguyen Thi H   22  JavaScript     79
8      Le Van I   21      Python     86
9    Tran Van J   20  JavaScript     84

## in 3 dòng đầu

In [ ]:
df_gv.head(5)

## xem có bao nhiêu cột

In [7]:
columns = df_gv.shape[1]
columns

4

## kieu du lieu

In [ ]:
df_gv.dtypes

## truy xuat cot age

In [11]:
df_gv['Age']

0    22
1    21
2    23
3    20
4    22
5    24
6    23
7    22
8    21
9    20
Name: Age, dtype: int64

## Truy xuất Name "Hoang Van E", Class "Python"

In [21]:
hs_HVE = df_gv[(df_gv['Name']=="Hoang Van E") & (df_gv['Class']=="Python")]
print(hs_HVE)

          Name  Age   Class  Score
4  Hoang Van E   22  Python     95

## hs > 80d

In [24]:
js80d = df_gv[(df_gv['Score']>80)&(df_gv['Class']=="JavaScript")]
print(js80d)

         Name  Age       Class  Score
1  Tran Thi B   21  JavaScript     90
3  Pham Thi D   20  JavaScript     88
5    Do Thi F   24  JavaScript     82
9  Tran Van J   20  JavaScript     84